.card {
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.2em 1em;
  margin: 0.5rem;

  list-style: none;
  display: flex;
}

.title {
  margin-left: 0.5em;
  font-weight: 700;
}

.line-through {
  text-decoration: line-through;
}

.delete-btn {
  background-color: red;
  color: black;
  font-weight: 700;

  border: none;
  border-radius: 100px;

  padding: 0.4em 0.8em;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;

  cursor: pointer;
}
